* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.list-style {
    list-style-type: none;
}

.head-menu {
    background-image: url("../image/Sections background/section-1(header).jpg");
    background-size: cover;
}

.logo-ham {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
}

.top-side-fon {
    display: flex;
    background-color: rgba(73, 71, 63, 0.6);
    height: 120px;
}

.fa-search-link {
    color: #b8b8b8;
    margin-left: 10px;
    font-size: 30px;
}

.fa-search-circle {
    color: #fff;
    font-size: 15px;
}

.the-ham-logo {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 31px;
    margin-left: 8px;
}

.uppercase-logo {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 32px;
    font-weight: 700;
    line-height: 31px;
    transform: scaleY(1.0015);
}

.image-h {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 60px;
    height: 30px;
    background: rgb(0, 208, 175);
}

.big-h {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    margin: 0 14px;
    text-transform: uppercase;
}

.image-h:before,
.image-h:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.image-h:before {
    top: -20px;
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid rgb(0, 208, 175);
}

.image-h:after {
    bottom: -20px;
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid rgb(0, 208, 175);
}

.main-menu-list {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    display: flex;
    flex-direction: row;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin: 10px;
    text-transform: uppercase;
    position: relative;
}

.menu:hover {
    color: #18cfab;
}

.menu-home:hover::after,
.menu-about:hover::after,
.menu-skills:hover::after,
.menu-service:hover::after,
.menu-work:hover::after,
.menu-testimonial:hover::after,
.menu-blog:hover::after,
.menu-team:hover::after,
.menu-contact:hover::after{
    position: absolute;
    content: '';
    height: 2px;
    background-color: #18cfab;
    top: 68px;
    left: 0;
}

.menu-home:hover::after,
.menu-work:hover::after {
    width: 45px;
}

.menu-about:hover::after {
    width: 50px;
}

.menu-skills:hover::after {
    width: 47px;
}

.menu-service:hover::after {
    width: 60px;
}

.menu-testimonial:hover::after {
    width: 95px;
}

.menu-blog:hover::after,
.menu-team:hover::after {
    width: 40px;
}

.menu-contact:hover::after {
    width: 67px;
}

.second-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-theme {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    line-height: 9px;
    text-transform: uppercase;
    margin-top: 246px;
}

.word-theme-color {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 35px;
    font-weight: 700;
    line-height: 9px;
    text-transform: uppercase;
}

.create {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 79px;
    font-weight: bold;
    line-height: 74px;
    text-transform: uppercase;
    margin-top: 45px;
}

.buy-theme {
    font-family: 'Montserrat', sans-serif;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    line-height: 74px;
    margin-top: 37px;
}

.button-top {
    margin-top: 146px;
    margin-bottom: 244px;
}

.explore {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    box-shadow: 0 -4px rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-right: 14px;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.explore:hover {
    animation-name: tada;
    animation-duration: 1s;
}

.purchase {
    display: inline-block;
    border-radius: 4px;
    background-color: #00cbf6;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
    border: none;
    width: 165px;
    height: 60px;
    box-shadow: 0 -4px rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-left: 14px;
}

.purchase:hover {
    animation-name: tada;
    animation-duration: 1s;
}

.menu-big-button {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 100%;
}

.big-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-basis: auto;
    height: 370px;
    width: 100%;
}

.big-button:nth-child(even) {
    background-color: #18cfab;
    box-shadow: 0 -7px rgba(255, 255, 255, 1);
}

.big-button:nth-child(odd) {
    background-color: #1c2a33;
    box-shadow: 0 -7px rgba(24, 207, 171, 1);
}

.onclick-menu {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 120px;
    padding-top: 50px;
}

.onclick-menu-odd {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 120px;
    padding-top: 50px;
}

.our-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
}

.services::before {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 70px;
    left: 70px;
    position: absolute;
}

.services::after {
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    top: 73px;
    left: 80px;
    position: absolute;
}

.services-menu {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin-top: 100px;
}

.list-menu {
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    width: 100%;
}

.list-menu-item {
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.li-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    height: 70px;
    background-color: rgb(248, 252, 254);
    border: 1px solid rgb(236, 236, 236);
    list-style-type: none;
    transition: all .7s;
}

.li-list:hover {
    color: #fff;
    background-color: rgb(24, 207, 171);
}

.active {
    color: #fff;
    background-color: rgb(24, 207, 171);
}

.services-menu-content {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    height: 140px;
    margin-bottom: 105px;
}

.image-service {
    height: 140px;
}

.content {
    flex-grow: 5;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    overflow: hidden;
    margin-left: 20px;
}

.section-is-ready {
    background-image: url("../image/Sections background/section-2.jpg");
    background-size: cover;
}

.ready-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78);
}

.main-text-section-ready {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 127px;
}

.second-text-section-ready {
    font-family: 'Montserrat', sans-serif;
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-top: 35px;
}

.purchase-button-section-ready {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    box-shadow: 0 -4px rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 127px;
}

@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.purchase-button-section-ready:hover {
    animation-name: wobble;
    animation-duration: 1s;
}

.amazing-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 252, 254);
}

.celeste-line::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 70px;
    left: 130px;
    position: absolute;
}

.celeste-line::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 73px;
    left: 140px;
    position: absolute;
}

.list-amazing {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 60px;
    background-color: white;
}

.li-amazing {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    margin: 0;
    border: 1px solid rgb(236, 236, 236);
    flex-grow: 1;
    list-style-type: none;
    transition: all .7s;
}

.li-amazing:hover {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.active-amazing {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.menu-amazing-block {
    width: 600px;
    margin-top: 100px;
}

.image-amazing {
    width: 100%;
}

.amazing-items {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 70px;
    width: 1160px;
}

.items-image {
    position: relative;
    height: 210px;
    width: 290px;
    margin: 0;
    padding: 0;
}

.load-more {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 31px;
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 100px;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.load-more:hover {
    animation-name: rubberBand;
    animation-duration: 1s;
}

.hover-amazing-items {
    display: flex;
    justify-content: center;
    border-top: 3px solid #18cfab;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    background: rgb(248, 252, 254);
    top: 0;
    position: absolute;
    height: 207px;
    width: 100%;
    transition: all .7s;
}

.items-image:hover .hover-amazing-items {
    opacity: 1;
}

.fa-link-circle {
    color: #18cfab;
    font-size: 15px;
}

.fa-plus-button {
    font-size: 16px;
}

.search-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.link {
    border: 2px solid #18cfab;
    margin-right: 5px;
}

.search {
    background-color: #18cfab;
    margin-left: 5px;
}

.hover-creative-design {
    margin-top: 34px;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.hover-web-design {
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
}

.breaking-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    position: relative;
}

.breaking-news-lines::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 70px;
    left: 95px;
    position: absolute;
}

.breaking-news-lines::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 73px;
    left: 105px;
    position: absolute;
}

.breaking-news-lines {
    margin-top: 80px;
}

.image-news {
    margin-bottom: 45px;
    position: relative;
    width: 260px;
    text-align: center;
    background-color: rgb(248, 252, 254);
}

.image-breaking-news {
    width: 100%;
}

.top-right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #203e38;
    height: 70px;
    position: absolute;
    width: 70px;
    top: 0;
    right: 0;
}

.news-title {
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin: 12px 0 0 13px;
}

.link-section-block {
    display: flex;
    flex-direction: row;
    margin: 14px;
    position: relative;
}

.vertical-line:after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #777777;
    top: 2px;
    left: 88px;
    position: absolute;
}



.link-section-note {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
}

.top-right-section-date {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.image-news:hover .top-right-section {
    background-color: #18cfab;
}

.image-news:hover .news-title {
    color: #18cfab;
}

.section-image-news {
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 1160px;
    margin-bottom: 100px;
}

.what-people-say {
    background-image: url("../image/Sections background/section-3.jpg");
    background-size: cover;
}

.people-say-background {
    display: flex;
    justify-content: center;
    background-color: rgba(46, 74, 91, 0.5);
}

.content-block-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1160px;
}

.services-people-say {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    color: #ffffff;
}

.people-say-line::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 70px;
    left: 250px;
    position: absolute;
}

.people-say-line::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 73px;
    left: 260px;
    position: absolute;
}

.description-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    margin-top: 46px;
    line-height: 30px;
    text-align: center;
}

.fa-quote-left-people-say {
    color: #18cfab;
    font-size: 30px;
    margin-top: 105px;
}

.name-author {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 43px;
}

.position-author {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
}

.border-circle {
    margin-top: 30px;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    border: 10px solid rgba(31, 218, 181, 0.2);
    box-sizing: border-box;
}

.image-block-author {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #18cfab;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    overflow: hidden;
}

.image-author {
    /*width: 100%;*/
    height: 100%;
}

.scroll-block-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 100px;
    width: 480px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 4px;
}

.square:hover {
    background-color: #18cfab;
}

.fa-angle {
    color: white;
    font-size: 13px;
}

.gallery-best-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 252, 254);
}

.main-title-gallery {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    color: #4e4e4e;
    margin-top: 100px;
}

.gallery-line::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 70px;
    left: 160px;
    position: absolute;
}

.gallery-line::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 73px;
    left: 170px;
    position: absolute;
}

.gallery-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: self-start;
    width: 1160px;
    margin-top: 106px;
}

.gallery-image {
    width: 370px;
    /*height: auto;*/
}

.footer {
    display: flex;
    justify-content: center;
    height: 110px;
    background-color: #22353f;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1160px;
}

.copyright-rights {
    font-family: 'Montserrat', sans-serif;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-right: 5px;
}

.logo-ham-footer {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-right: 10px;
    position: relative;
}

.logo-ham-footer::after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #aeaeae;
    top: 6px;
    left: 63px;
    position: absolute;
}

.fa-copy-footer {
    margin-right: 5px;
}