body {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid black;
}

td {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
}

.tank-blue {
    background-color: royalblue;
    border-radius: 10px;
}

.tank-orange {
    background-color: orangered;
    border-radius: 10px;
}

.bullet {
    background: black;
    border-radius: 50px;
}