a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Lato', sans-serif;
    /*width: 1200px;*/
    align-content: center;
}

/*Header*/

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background: #373c3f;
    padding-left: 20px;
    color: white;
}

.menu img {
    display: none;
}

.main-menu {
    display: none;
    list-style: none;
}

.main-menu li {
    margin-right: 30px;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-menu {
    display: inline-block;
    width: 40px;
    height: 45px;
    background: rgb(26, 32, 36);
    position: relative;
}

.nav-menu span, .nav-menu span::before,
.nav-menu span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background: #fff;
}

.nav-menu span::before,
.nav-menu span::after {
    content: '';
    transition: 0.2s;
}

.nav-menu span::before {
    transform: translateY(-5px);
}

.nav-menu span::after {
    transform: translateY(5px);
}

.nav-menu-active span:before {
    transform: rotate(45deg);
}

.nav-menu-active span:after {
    transform: rotate(-45deg);
}

.nav-menu-active span {
    height: 0;
}

.container {
    position: relative;
    color: white;
    padding: 20px 0 0 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.nav {
    padding: 15px 0;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
}

.menu-nav a {
    display: block;
    height: 30px;
    border: 1px solid #f5f5f5;
    color: #3d3d3d;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    transition: 1s;
}

.menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
}

.menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
}

.email-title {
    display: block;
    color: #a6d6e0;
    font-size: 14px;
    padding-bottom: 100px;
}

.bg-image {
    background-image: url("../image/header-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

/*Main menu*/

.main {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-top: 2px;
}

.section-1 {
    background-image: url("../image/Pizza delivery fon.png");
    opacity: 0.8;

}

.section-2 {
    background-image: url("../image/UA_UX Salads fon.png");
    opacity: 0.8;
}

.section-3 {
    background-image: url("../image/Desserts fon.png");
    opacity: 0.8;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.block-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    background: #acd8ad;
}

.move-right {
    color: #fff;
}

/*Second menu*/

.pizza-logo {
    display: none;
}

.second-menu {
    padding-top: 25px;
}

.menu-head {
    padding-left: 10px;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    color: #3f4043;
}

.second-title {
    display: inline-block;
    color: #cbccce;
    font-size: 10px;
    margin-top: 10px;
}

.menu-all {
    display: flex;
    flex-direction: column;
}

.title-menu {
    background: #3f4043;
    font-size: 20px;
    color: #acd8ad;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    margin-top: 10px;
}

.second-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    color: #3f4043;
    text-transform: uppercase;
    font-size: 15px;
}

.snowflake {
    font-size: 25px;
    color: #acd8ad;
}

.hot {
    font-size: 25px;
    color: #acd8ad;
}

.menu-list-item {
    padding: 0 20px;
}

.li-list {
    font-size: 13px;
    color: #3f4043;
    padding-top: 10px;
}

.li-list span {
    float: right;
    font-weight: bold;
}

.description {
    font-size: 9px;
    padding-top: 10px;
}

.wine-glass {
    color: #acd8ad;
    font-size: 20px;
}

.bg-celeste {
    background: #acd8ad;
    color: white;
}

.mug-hot {
    color: #acd8ad;
    font-size: 20px;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #acd8ad;
    margin-top: 30px;
}

.best, .new-salads {
    color: white;
    font-size: 12px;
}

.best {
    padding-top: 10px;
}

.new-salads {
    padding-bottom: 10px;
}

.footer img {
    display: none;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}